body {
  margin: 0;
}
body .container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body .container section {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
body .container section:nth-of-type(1) {
  justify-content: center;
  align-items: center;
}
body .container section:nth-of-type(2) {
  left: 10%;
  padding-top: 20vh;
}

body::-webkit-scrollbar {
  width: 1px;
  background-color: black;
}

canvas {
  position: fixed;
  top: 0px;
  left: 0;
}

h1 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 15px;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #9fb9e9;
  font-weight: 200;
}

h3 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 15px;
}

.btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #839ffc9c;
  margin: 20px;
  border-radius: 30%;
  box-shadow: 0 10px 15px -10px #00000070;
  color: #181aad;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.btn i {
  line-height: 60px;
  font-size: 26px;
}

.btn:hover i {
  transform: scale(1.1);
}

.btn:hover {
  background: #c3ceecc4;
}

.projects {
  padding-top: 12vh;
}

.project {
  width: 40vw;
  height: 15vh;
  left: 15%;
  background-color: #83265959;
  margin-bottom: 5vh;
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.project:nth-of-type(1) {
  -webkit-animation-duration: 3.2s;
          animation-duration: 3.2s;
}
.project:nth-of-type(2) {
  -webkit-animation-duration: 3.1s;
          animation-duration: 3.1s;
}
.project:nth-of-type(3) {
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}
.project:nth-of-type(4) {
  -webkit-animation-duration: 3.4s;
          animation-duration: 3.4s;
}

.project:hover {
  width: 40vw;
  height: 15vh;
  left: 15%;
  background-color: #832659b9;
  margin-bottom: 5vh;
  -webkit-animation: none;
          animation: none;
}

.title {
  color: white;
  margin-left: 1vw;
  padding-top: 4vh;
  padding-bottom: 2vh;
  text-decoration: underline;
  text-underline-offset: 0.5vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
}

.desc {
  color: white;
  margin-left: 1vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
}

@-webkit-keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.scrollsign {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 150;
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-top: 20vh;
}

.title:hover {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-left: 1vw;
  padding-top: 4vh;
  padding-bottom: 2vh;
  text-decoration: underline;
  text-underline-offset: 0.5vh;
  font-weight: 400;
  position: relative;
  color: white;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 2s infinite linear alternate-reverse;
}
.title:hover::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  padding-top: 4vh;
  text-shadow: -2px 0 #b90f8f;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.title:hover::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  padding-top: 4vh;
  text-shadow: -2px 0 #0099ff, 2px 2px #990d76;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(70px, 9999px, 81px, 0);
    transform: skew(0.14deg);
  }
  5% {
    clip: rect(92px, 9999px, 96px, 0);
    transform: skew(0.84deg);
  }
  10% {
    clip: rect(59px, 9999px, 90px, 0);
    transform: skew(0.16deg);
  }
  15% {
    clip: rect(59px, 9999px, 2px, 0);
    transform: skew(0.39deg);
  }
  20% {
    clip: rect(83px, 9999px, 9px, 0);
    transform: skew(0.35deg);
  }
  25% {
    clip: rect(78px, 9999px, 99px, 0);
    transform: skew(0.9deg);
  }
  30% {
    clip: rect(51px, 9999px, 53px, 0);
    transform: skew(0.3deg);
  }
  35% {
    clip: rect(2px, 9999px, 1px, 0);
    transform: skew(0.85deg);
  }
  40% {
    clip: rect(40px, 9999px, 99px, 0);
    transform: skew(0.06deg);
  }
  45% {
    clip: rect(83px, 9999px, 17px, 0);
    transform: skew(0.69deg);
  }
  50% {
    clip: rect(100px, 9999px, 39px, 0);
    transform: skew(0.97deg);
  }
  55% {
    clip: rect(6px, 9999px, 17px, 0);
    transform: skew(0.94deg);
  }
  60% {
    clip: rect(84px, 9999px, 97px, 0);
    transform: skew(0.29deg);
  }
  65% {
    clip: rect(84px, 9999px, 17px, 0);
    transform: skew(0.99deg);
  }
  70% {
    clip: rect(6px, 9999px, 38px, 0);
    transform: skew(0.52deg);
  }
  75% {
    clip: rect(39px, 9999px, 94px, 0);
    transform: skew(0.27deg);
  }
  80% {
    clip: rect(77px, 9999px, 22px, 0);
    transform: skew(0.38deg);
  }
  85% {
    clip: rect(12px, 9999px, 57px, 0);
    transform: skew(0.71deg);
  }
  90% {
    clip: rect(87px, 9999px, 63px, 0);
    transform: skew(0.08deg);
  }
  95% {
    clip: rect(68px, 9999px, 86px, 0);
    transform: skew(0.95deg);
  }
  100% {
    clip: rect(74px, 9999px, 57px, 0);
    transform: skew(0.42deg);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(70px, 9999px, 81px, 0);
    transform: skew(0.14deg);
  }
  5% {
    clip: rect(92px, 9999px, 96px, 0);
    transform: skew(0.84deg);
  }
  10% {
    clip: rect(59px, 9999px, 90px, 0);
    transform: skew(0.16deg);
  }
  15% {
    clip: rect(59px, 9999px, 2px, 0);
    transform: skew(0.39deg);
  }
  20% {
    clip: rect(83px, 9999px, 9px, 0);
    transform: skew(0.35deg);
  }
  25% {
    clip: rect(78px, 9999px, 99px, 0);
    transform: skew(0.9deg);
  }
  30% {
    clip: rect(51px, 9999px, 53px, 0);
    transform: skew(0.3deg);
  }
  35% {
    clip: rect(2px, 9999px, 1px, 0);
    transform: skew(0.85deg);
  }
  40% {
    clip: rect(40px, 9999px, 99px, 0);
    transform: skew(0.06deg);
  }
  45% {
    clip: rect(83px, 9999px, 17px, 0);
    transform: skew(0.69deg);
  }
  50% {
    clip: rect(100px, 9999px, 39px, 0);
    transform: skew(0.97deg);
  }
  55% {
    clip: rect(6px, 9999px, 17px, 0);
    transform: skew(0.94deg);
  }
  60% {
    clip: rect(84px, 9999px, 97px, 0);
    transform: skew(0.29deg);
  }
  65% {
    clip: rect(84px, 9999px, 17px, 0);
    transform: skew(0.99deg);
  }
  70% {
    clip: rect(6px, 9999px, 38px, 0);
    transform: skew(0.52deg);
  }
  75% {
    clip: rect(39px, 9999px, 94px, 0);
    transform: skew(0.27deg);
  }
  80% {
    clip: rect(77px, 9999px, 22px, 0);
    transform: skew(0.38deg);
  }
  85% {
    clip: rect(12px, 9999px, 57px, 0);
    transform: skew(0.71deg);
  }
  90% {
    clip: rect(87px, 9999px, 63px, 0);
    transform: skew(0.08deg);
  }
  95% {
    clip: rect(68px, 9999px, 86px, 0);
    transform: skew(0.95deg);
  }
  100% {
    clip: rect(74px, 9999px, 57px, 0);
    transform: skew(0.42deg);
  }
}
@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(81px, 9999px, 2px, 0);
    transform: skew(0.96deg);
  }
  5% {
    clip: rect(53px, 9999px, 56px, 0);
    transform: skew(0.18deg);
  }
  10% {
    clip: rect(33px, 9999px, 96px, 0);
    transform: skew(0.47deg);
  }
  15% {
    clip: rect(10px, 9999px, 13px, 0);
    transform: skew(0.51deg);
  }
  20% {
    clip: rect(49px, 9999px, 37px, 0);
    transform: skew(0.81deg);
  }
  25% {
    clip: rect(96px, 9999px, 87px, 0);
    transform: skew(0.83deg);
  }
  30% {
    clip: rect(95px, 9999px, 90px, 0);
    transform: skew(0.77deg);
  }
  35% {
    clip: rect(48px, 9999px, 68px, 0);
    transform: skew(0.65deg);
  }
  40% {
    clip: rect(28px, 9999px, 48px, 0);
    transform: skew(0.39deg);
  }
  45% {
    clip: rect(76px, 9999px, 6px, 0);
    transform: skew(0.88deg);
  }
  50% {
    clip: rect(21px, 9999px, 96px, 0);
    transform: skew(0.41deg);
  }
  55% {
    clip: rect(40px, 9999px, 29px, 0);
    transform: skew(0.27deg);
  }
  60% {
    clip: rect(69px, 9999px, 1px, 0);
    transform: skew(0.73deg);
  }
  65% {
    clip: rect(76px, 9999px, 66px, 0);
    transform: skew(0.69deg);
  }
  70% {
    clip: rect(7px, 9999px, 65px, 0);
    transform: skew(0.8deg);
  }
  75% {
    clip: rect(33px, 9999px, 92px, 0);
    transform: skew(0.41deg);
  }
  80% {
    clip: rect(32px, 9999px, 22px, 0);
    transform: skew(0.35deg);
  }
  85% {
    clip: rect(33px, 9999px, 96px, 0);
    transform: skew(0.79deg);
  }
  90% {
    clip: rect(43px, 9999px, 53px, 0);
    transform: skew(0.6deg);
  }
  95% {
    clip: rect(91px, 9999px, 96px, 0);
    transform: skew(0.07deg);
  }
  100% {
    clip: rect(81px, 9999px, 60px, 0);
    transform: skew(0.73deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(81px, 9999px, 2px, 0);
    transform: skew(0.96deg);
  }
  5% {
    clip: rect(53px, 9999px, 56px, 0);
    transform: skew(0.18deg);
  }
  10% {
    clip: rect(33px, 9999px, 96px, 0);
    transform: skew(0.47deg);
  }
  15% {
    clip: rect(10px, 9999px, 13px, 0);
    transform: skew(0.51deg);
  }
  20% {
    clip: rect(49px, 9999px, 37px, 0);
    transform: skew(0.81deg);
  }
  25% {
    clip: rect(96px, 9999px, 87px, 0);
    transform: skew(0.83deg);
  }
  30% {
    clip: rect(95px, 9999px, 90px, 0);
    transform: skew(0.77deg);
  }
  35% {
    clip: rect(48px, 9999px, 68px, 0);
    transform: skew(0.65deg);
  }
  40% {
    clip: rect(28px, 9999px, 48px, 0);
    transform: skew(0.39deg);
  }
  45% {
    clip: rect(76px, 9999px, 6px, 0);
    transform: skew(0.88deg);
  }
  50% {
    clip: rect(21px, 9999px, 96px, 0);
    transform: skew(0.41deg);
  }
  55% {
    clip: rect(40px, 9999px, 29px, 0);
    transform: skew(0.27deg);
  }
  60% {
    clip: rect(69px, 9999px, 1px, 0);
    transform: skew(0.73deg);
  }
  65% {
    clip: rect(76px, 9999px, 66px, 0);
    transform: skew(0.69deg);
  }
  70% {
    clip: rect(7px, 9999px, 65px, 0);
    transform: skew(0.8deg);
  }
  75% {
    clip: rect(33px, 9999px, 92px, 0);
    transform: skew(0.41deg);
  }
  80% {
    clip: rect(32px, 9999px, 22px, 0);
    transform: skew(0.35deg);
  }
  85% {
    clip: rect(33px, 9999px, 96px, 0);
    transform: skew(0.79deg);
  }
  90% {
    clip: rect(43px, 9999px, 53px, 0);
    transform: skew(0.6deg);
  }
  95% {
    clip: rect(91px, 9999px, 96px, 0);
    transform: skew(0.07deg);
  }
  100% {
    clip: rect(81px, 9999px, 60px, 0);
    transform: skew(0.73deg);
  }
}
@-webkit-keyframes glitch-skew {
  0% {
    transform: skew(4deg);
  }
  10% {
    transform: skew(2deg);
  }
  20% {
    transform: skew(1deg);
  }
  30% {
    transform: skew(-4deg);
  }
  40% {
    transform: skew(-1deg);
  }
  50% {
    transform: skew(-2deg);
  }
  60% {
    transform: skew(3deg);
  }
  70% {
    transform: skew(-4deg);
  }
  80% {
    transform: skew(1deg);
  }
  90% {
    transform: skew(-4deg);
  }
  100% {
    transform: skew(2deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(4deg);
  }
  10% {
    transform: skew(2deg);
  }
  20% {
    transform: skew(1deg);
  }
  30% {
    transform: skew(-4deg);
  }
  40% {
    transform: skew(-1deg);
  }
  50% {
    transform: skew(-2deg);
  }
  60% {
    transform: skew(3deg);
  }
  70% {
    transform: skew(-4deg);
  }
  80% {
    transform: skew(1deg);
  }
  90% {
    transform: skew(-4deg);
  }
  100% {
    transform: skew(2deg);
  }
}/*# sourceMappingURL=funk.css.map */