body {
  margin: 0;

  .container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow: overlay;
    overflow-x: hidden;
    scroll-behavior: smooth;


    section {
      height: 100vh;
      width: 100vw;
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;

      &:nth-of-type(1) {
        justify-content: center;
        align-items: center;
      }

      &:nth-of-type(2) {
        left: 10%;
        padding-top: 20vh;
      }
    }
  }
}

body::-webkit-scrollbar {
  width: 1px;
  background-color: rgb(0, 0, 0);
}

canvas {
  position: fixed;
  top: 0px;
  left: 0;
}

h1 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 15px;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(159, 185, 233);
  font-weight: 200;
}

h3 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 15px;
}

.btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #839ffc9c;
  margin: 20px;
  border-radius: 30%;
  box-shadow: 0 10px 15px -10px #00000070;
  color: #181aad;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.btn i {
  line-height: 60px;
  font-size: 26px;
}

.btn:hover i {
  transform: scale(1.1);
}

.btn:hover {
  background: #c3ceecc4;
}

.projects {
  padding-top: 12vh;
}
.project {
  width: 40vw;
  height: 15vh;
  left: 15%;
  background-color: #83265959;
  margin-bottom: 5vh;
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  &:nth-of-type(1) {
    animation-duration: 3.2s;
  }
  &:nth-of-type(2) {
    animation-duration: 3.1s;
  }
  &:nth-of-type(3) {
    animation-duration: 3.5s;
  }
  &:nth-of-type(4) {
    animation-duration: 3.4s;
  }
}

.project:hover {
  width: 40vw;
  height: 15vh;
  left: 15%;
  background-color: #832659b9;
  margin-bottom: 5vh;
  animation: none;
}

.title {
  color: white;
  background: none;
  border: none;
  margin-left: 1vw;
  padding-top: 4vh;
  padding-bottom: 2vh;
  text-decoration: underline;
  text-underline-offset: 0.5vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
}
.desc {
  color: white;
  margin-left: 1vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }   
}

.scrollsign {
  color:rgba(255, 255, 255, 0.65);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 150;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 20vh;
}

.scrollsign:hover {
  animation: none;
  color: rgb(255, 255, 255)
}

.projectInfo {
  height: 45vh;
  width: 50vw;
  top: 42vh;
  left: 2vh;
  display: none;
  position: absolute;
  overflow-y: scroll;
  // border: 1px solid red;
  padding-right: 2vw;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 300;

  @mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
  @include scrollbars(.5em, rgba(3, 3, 3, 0.335));
}



.back {
  top: 14vh;
  width: 5vw;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: white;
  font-weight: 500;
  border: 1px solid white;
  display: none;
}
.back:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

@mixin glitchCopy { 
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}

.title:hover {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-left: 1vw;
  padding-top: 4vh;
  padding-bottom: 2vh;
  text-decoration: underline;
  text-underline-offset: 0.5vh;
  font-weight: 400;
	position: relative;
	color: white;
	animation: glitch-skew 2s infinite linear alternate-reverse;
	
&::before{
		@include glitchCopy;
		left: 2px;
    padding-top: 4vh;
		text-shadow: -2px 0 #b90f8f;
		clip: rect(44px, 450px, 56px, 0);
		animation: glitch-anim 5s infinite linear alternate-reverse;
	}
	
	&::after {
		@include glitchCopy;
		left: -2px;
    padding-top: 4vh;
		text-shadow: -2px 0 #0099ff, 2px 2px #990d76;
		animation: glitch-anim2 1s infinite linear alternate-reverse;
	}
}

@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

// Same deal, just duplicated for ultra randomness.
@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

// Does the same deal as before, but now only skews. Used for main text.
@keyframes glitch-skew {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      transform: skew((random(10) - 5) + deg);
    }
  }
}