body {
  margin: 0;
}
body .container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body .container section {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
body .container section:nth-of-type(1) {
  justify-content: center;
  align-items: center;
}
body .container section:nth-of-type(2) {
  left: 10%;
  padding-top: 20vh;
}

body::-webkit-scrollbar {
  width: 1px;
  background-color: black;
}

canvas {
  position: fixed;
  top: 0px;
  left: 0;
}

h1 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 15px;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #9fb9e9;
  font-weight: 200;
}

h3 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 15px;
}

.btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #839ffc9c;
  margin: 20px;
  border-radius: 30%;
  box-shadow: 0 10px 15px -10px #00000070;
  color: #181aad;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.btn i {
  line-height: 60px;
  font-size: 26px;
}

.btn:hover i {
  transform: scale(1.1);
}

.btn:hover {
  background: #c3ceecc4;
}

.projects {
  padding-top: 12vh;
}

.project {
  width: 40vw;
  height: 15vh;
  left: 15%;
  background-color: #83265959;
  margin-bottom: 5vh;
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.project:nth-of-type(1) {
  -webkit-animation-duration: 3.2s;
          animation-duration: 3.2s;
}
.project:nth-of-type(2) {
  -webkit-animation-duration: 3.1s;
          animation-duration: 3.1s;
}
.project:nth-of-type(3) {
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}
.project:nth-of-type(4) {
  -webkit-animation-duration: 3.4s;
          animation-duration: 3.4s;
}

.project:hover {
  width: 40vw;
  height: 15vh;
  left: 15%;
  background-color: #832659b9;
  margin-bottom: 5vh;
  -webkit-animation: none;
          animation: none;
}

.title {
  color: white;
  background: none;
  border: none;
  margin-left: 1vw;
  padding-top: 4vh;
  padding-bottom: 2vh;
  text-decoration: underline;
  text-underline-offset: 0.5vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
}

.desc {
  color: white;
  margin-left: 1vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
}

@-webkit-keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.scrollsign {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 150;
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-top: 20vh;
}

.title:hover {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-left: 1vw;
  padding-top: 4vh;
  padding-bottom: 2vh;
  text-decoration: underline;
  text-underline-offset: 0.5vh;
  font-weight: 400;
  position: relative;
  color: white;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 2s infinite linear alternate-reverse;
}
.title:hover::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  padding-top: 4vh;
  text-shadow: -2px 0 #b90f8f;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.title:hover::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  padding-top: 4vh;
  text-shadow: -2px 0 #0099ff, 2px 2px #990d76;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(72px, 9999px, 49px, 0);
    transform: skew(0.5deg);
  }
  5% {
    clip: rect(93px, 9999px, 96px, 0);
    transform: skew(0.27deg);
  }
  10% {
    clip: rect(12px, 9999px, 42px, 0);
    transform: skew(0.23deg);
  }
  15% {
    clip: rect(80px, 9999px, 96px, 0);
    transform: skew(0.79deg);
  }
  20% {
    clip: rect(99px, 9999px, 24px, 0);
    transform: skew(0.53deg);
  }
  25% {
    clip: rect(42px, 9999px, 46px, 0);
    transform: skew(0.94deg);
  }
  30% {
    clip: rect(75px, 9999px, 31px, 0);
    transform: skew(0.46deg);
  }
  35% {
    clip: rect(45px, 9999px, 83px, 0);
    transform: skew(0.25deg);
  }
  40% {
    clip: rect(59px, 9999px, 97px, 0);
    transform: skew(0.02deg);
  }
  45% {
    clip: rect(19px, 9999px, 67px, 0);
    transform: skew(0.3deg);
  }
  50% {
    clip: rect(13px, 9999px, 66px, 0);
    transform: skew(0.6deg);
  }
  55% {
    clip: rect(22px, 9999px, 49px, 0);
    transform: skew(0.38deg);
  }
  60% {
    clip: rect(19px, 9999px, 46px, 0);
    transform: skew(0.45deg);
  }
  65% {
    clip: rect(67px, 9999px, 43px, 0);
    transform: skew(0.09deg);
  }
  70% {
    clip: rect(95px, 9999px, 84px, 0);
    transform: skew(0.05deg);
  }
  75% {
    clip: rect(100px, 9999px, 81px, 0);
    transform: skew(0.61deg);
  }
  80% {
    clip: rect(38px, 9999px, 91px, 0);
    transform: skew(0.16deg);
  }
  85% {
    clip: rect(37px, 9999px, 91px, 0);
    transform: skew(0.7deg);
  }
  90% {
    clip: rect(33px, 9999px, 35px, 0);
    transform: skew(0.07deg);
  }
  95% {
    clip: rect(45px, 9999px, 36px, 0);
    transform: skew(0.97deg);
  }
  100% {
    clip: rect(41px, 9999px, 12px, 0);
    transform: skew(0.31deg);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(72px, 9999px, 49px, 0);
    transform: skew(0.5deg);
  }
  5% {
    clip: rect(93px, 9999px, 96px, 0);
    transform: skew(0.27deg);
  }
  10% {
    clip: rect(12px, 9999px, 42px, 0);
    transform: skew(0.23deg);
  }
  15% {
    clip: rect(80px, 9999px, 96px, 0);
    transform: skew(0.79deg);
  }
  20% {
    clip: rect(99px, 9999px, 24px, 0);
    transform: skew(0.53deg);
  }
  25% {
    clip: rect(42px, 9999px, 46px, 0);
    transform: skew(0.94deg);
  }
  30% {
    clip: rect(75px, 9999px, 31px, 0);
    transform: skew(0.46deg);
  }
  35% {
    clip: rect(45px, 9999px, 83px, 0);
    transform: skew(0.25deg);
  }
  40% {
    clip: rect(59px, 9999px, 97px, 0);
    transform: skew(0.02deg);
  }
  45% {
    clip: rect(19px, 9999px, 67px, 0);
    transform: skew(0.3deg);
  }
  50% {
    clip: rect(13px, 9999px, 66px, 0);
    transform: skew(0.6deg);
  }
  55% {
    clip: rect(22px, 9999px, 49px, 0);
    transform: skew(0.38deg);
  }
  60% {
    clip: rect(19px, 9999px, 46px, 0);
    transform: skew(0.45deg);
  }
  65% {
    clip: rect(67px, 9999px, 43px, 0);
    transform: skew(0.09deg);
  }
  70% {
    clip: rect(95px, 9999px, 84px, 0);
    transform: skew(0.05deg);
  }
  75% {
    clip: rect(100px, 9999px, 81px, 0);
    transform: skew(0.61deg);
  }
  80% {
    clip: rect(38px, 9999px, 91px, 0);
    transform: skew(0.16deg);
  }
  85% {
    clip: rect(37px, 9999px, 91px, 0);
    transform: skew(0.7deg);
  }
  90% {
    clip: rect(33px, 9999px, 35px, 0);
    transform: skew(0.07deg);
  }
  95% {
    clip: rect(45px, 9999px, 36px, 0);
    transform: skew(0.97deg);
  }
  100% {
    clip: rect(41px, 9999px, 12px, 0);
    transform: skew(0.31deg);
  }
}
@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(92px, 9999px, 72px, 0);
    transform: skew(0.32deg);
  }
  5% {
    clip: rect(69px, 9999px, 50px, 0);
    transform: skew(0.61deg);
  }
  10% {
    clip: rect(31px, 9999px, 79px, 0);
    transform: skew(0.83deg);
  }
  15% {
    clip: rect(18px, 9999px, 40px, 0);
    transform: skew(0.89deg);
  }
  20% {
    clip: rect(1px, 9999px, 5px, 0);
    transform: skew(0.61deg);
  }
  25% {
    clip: rect(96px, 9999px, 45px, 0);
    transform: skew(0.24deg);
  }
  30% {
    clip: rect(61px, 9999px, 88px, 0);
    transform: skew(0.98deg);
  }
  35% {
    clip: rect(44px, 9999px, 39px, 0);
    transform: skew(0.73deg);
  }
  40% {
    clip: rect(26px, 9999px, 82px, 0);
    transform: skew(0.52deg);
  }
  45% {
    clip: rect(73px, 9999px, 10px, 0);
    transform: skew(0.69deg);
  }
  50% {
    clip: rect(57px, 9999px, 38px, 0);
    transform: skew(0.68deg);
  }
  55% {
    clip: rect(35px, 9999px, 42px, 0);
    transform: skew(0.87deg);
  }
  60% {
    clip: rect(29px, 9999px, 22px, 0);
    transform: skew(0.37deg);
  }
  65% {
    clip: rect(7px, 9999px, 47px, 0);
    transform: skew(0.69deg);
  }
  70% {
    clip: rect(22px, 9999px, 72px, 0);
    transform: skew(0.64deg);
  }
  75% {
    clip: rect(9px, 9999px, 13px, 0);
    transform: skew(0.88deg);
  }
  80% {
    clip: rect(71px, 9999px, 19px, 0);
    transform: skew(0.23deg);
  }
  85% {
    clip: rect(32px, 9999px, 91px, 0);
    transform: skew(0.13deg);
  }
  90% {
    clip: rect(78px, 9999px, 100px, 0);
    transform: skew(1deg);
  }
  95% {
    clip: rect(52px, 9999px, 6px, 0);
    transform: skew(0.82deg);
  }
  100% {
    clip: rect(7px, 9999px, 33px, 0);
    transform: skew(0.91deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(92px, 9999px, 72px, 0);
    transform: skew(0.32deg);
  }
  5% {
    clip: rect(69px, 9999px, 50px, 0);
    transform: skew(0.61deg);
  }
  10% {
    clip: rect(31px, 9999px, 79px, 0);
    transform: skew(0.83deg);
  }
  15% {
    clip: rect(18px, 9999px, 40px, 0);
    transform: skew(0.89deg);
  }
  20% {
    clip: rect(1px, 9999px, 5px, 0);
    transform: skew(0.61deg);
  }
  25% {
    clip: rect(96px, 9999px, 45px, 0);
    transform: skew(0.24deg);
  }
  30% {
    clip: rect(61px, 9999px, 88px, 0);
    transform: skew(0.98deg);
  }
  35% {
    clip: rect(44px, 9999px, 39px, 0);
    transform: skew(0.73deg);
  }
  40% {
    clip: rect(26px, 9999px, 82px, 0);
    transform: skew(0.52deg);
  }
  45% {
    clip: rect(73px, 9999px, 10px, 0);
    transform: skew(0.69deg);
  }
  50% {
    clip: rect(57px, 9999px, 38px, 0);
    transform: skew(0.68deg);
  }
  55% {
    clip: rect(35px, 9999px, 42px, 0);
    transform: skew(0.87deg);
  }
  60% {
    clip: rect(29px, 9999px, 22px, 0);
    transform: skew(0.37deg);
  }
  65% {
    clip: rect(7px, 9999px, 47px, 0);
    transform: skew(0.69deg);
  }
  70% {
    clip: rect(22px, 9999px, 72px, 0);
    transform: skew(0.64deg);
  }
  75% {
    clip: rect(9px, 9999px, 13px, 0);
    transform: skew(0.88deg);
  }
  80% {
    clip: rect(71px, 9999px, 19px, 0);
    transform: skew(0.23deg);
  }
  85% {
    clip: rect(32px, 9999px, 91px, 0);
    transform: skew(0.13deg);
  }
  90% {
    clip: rect(78px, 9999px, 100px, 0);
    transform: skew(1deg);
  }
  95% {
    clip: rect(52px, 9999px, 6px, 0);
    transform: skew(0.82deg);
  }
  100% {
    clip: rect(7px, 9999px, 33px, 0);
    transform: skew(0.91deg);
  }
}
@-webkit-keyframes glitch-skew {
  0% {
    transform: skew(4deg);
  }
  10% {
    transform: skew(5deg);
  }
  20% {
    transform: skew(-2deg);
  }
  30% {
    transform: skew(-4deg);
  }
  40% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(-1deg);
  }
  60% {
    transform: skew(-3deg);
  }
  70% {
    transform: skew(-4deg);
  }
  80% {
    transform: skew(0deg);
  }
  90% {
    transform: skew(-4deg);
  }
  100% {
    transform: skew(-2deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(4deg);
  }
  10% {
    transform: skew(5deg);
  }
  20% {
    transform: skew(-2deg);
  }
  30% {
    transform: skew(-4deg);
  }
  40% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(-1deg);
  }
  60% {
    transform: skew(-3deg);
  }
  70% {
    transform: skew(-4deg);
  }
  80% {
    transform: skew(0deg);
  }
  90% {
    transform: skew(-4deg);
  }
  100% {
    transform: skew(-2deg);
  }
}/*# sourceMappingURL=funk.css.map */