body {
  margin: 0;
  overflow: hidden;
}

.headers {
  position: absolute;
  top: 33%;
  left: 35%;
  text-align: center;
}

h1 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 15px;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(159, 185, 233);
  font-weight: 200;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  text-align: right;
  padding-right: 35px;
}

header .navbar u1 {
  list-style: none;
  padding: 0;
  margin: 0;
}

header .navbar u1 li {
  display: inline-block;
  margin-left: 35px;
}

header .navbar u1 li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 60px;
  font-weight: 350;
  position: relative;
}

header .navbar u1 li a::before {
  content: "";
  height: 3px;
  background-color: lightblue;
  width: 0%;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: -1px;
  top: 100%;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header .navbar u1 li a:hover::before {
  width: 100%;
  left: 0;
}

header .middle {
  top: 850%;
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #839ffc9c;
  margin: 20px;
  border-radius: 30%;
  box-shadow: 0 10px 15px -10px #00000070;
  color: #181aad;
  overflow: hidden;
  position: relative;
}

.btn i {
  line-height: 60px;
  font-size: 26px;
}

.btn:hover i {
  transform: scale(1.1);
}

.btn:hover {
  background: #c3ceecc4;
}
